.timesetinterface{
  font-size: $timer-size;
  
  &__colons{
    display: inline-block;
    transform: translateY(-$timer-size / 8)
  }

  input[type=text]{
    position: relative;
    font-size: $timer-size;
    border: none;
    width: $timer-size + 2rem;
    box-shadow: 
      inset 0 0 2px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    text-align: center;

    color: #fff;
    background: rgba(255,255,255,0.12);
  }
}

