.timesetinterface{
  font-size: $timer-size;
  
  &__colons{
    display: inline-block;
    transform: translateY(-$timer-size / 8)
  }

  input[type=text]{
    position: relative;
    font-size: $timer-size;
    border: none;
    width: $timer-size + 2rem;
    height: $timer-size - 4.5rem;
    padding-bottom: $timer-size / 12;
    margin: 1rem;
    text-align: center;
    color: #fff;
    background: $timer-background-color;
  }
}

