$timer-size: 15rem;

$timer-background-color: rgba(255,255,255,0.17);
$everything-size: 3rem;

$input-width: 30rem;


///////////////////////////////////// 
// SECRET INPUT SIZES
$fake-element-height: 20rem;
$fake-element-font-size: $fake-element-height * 0.875;
$fake-element-width: 30rem;