.real-input{
  font-size: 30px;
  position: absolute;
  border: none;
  margin: 0;
  padding: 0;
  border-image-width: 0;
  // display: none;
  opacity: 0;
  z-index: 10;
}
.fake-input{
  font-size: 30px;
  position: absolute;
  color: orangered;
}
.fake-caret{
  height: 30px;
  width: 2px;
  background-color: white;
  display: inline-block;
  position: absolute;
}
.string-char{
  display: inline-block;
}