@use '../abstracts/vars';

.input-wrapper {
  position: relative;
  font-size: vars.$everything-size;
  height: vars.$everything-size;
  width: 300px;
  font-family: Helvetica;
}

.real-input {
  position: absolute;
  box-sizing: border-box;
 
  width: 98%;
  height: 100%;

  font-size: vars.$everything-size;
  font-family: Helvetica;
  
  border-image-width: 0;
  border: none;
  outline: none;

  background-color: 'rgba(0,0,0,0)';

  opacity: 1;
  z-index: 10;
}

.fake-input {
  position: absolute;
  top: 50px; 
  height: 100%;
  width: 100%;
  padding: 1%;
  pointer-events: none;
  
  font-size: vars.$everything-size;

  color: orangered;
  background-color: grey;
  box-sizing: border-box;
}

.fake-input::after {
  content: '';
  position: absolute;
  top: vars.$everything-size;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 1rem;
  background-color: grey;
}

.fake-caret {
  width: 2px;
  height: 85%;
  background-color: white;
  display: inline-block;
  position: absolute;
  top: -0.3rem;
  margin-top: 3%;
}
.string-char {
  display: inline-block;
}

.no-caret { 
  opacity: 0;
}