:root{
  --everything-size: 3rem;
}
html{
  font-size: 62.5%;
}

.input-wrapper{
  position: relative;
  font-size: var(--everything-size);
  height: var(--everything-size);
  width: 300px;
  font-family: Helvetica;
}

.real-input{
  position: absolute;
  box-sizing: border-box;
 
  width: 98%;
  height: 100%;

  font-size: var(--everything-size);
  font-family: Helvetica;
  
  border-image-width: 0;
  border: none;
  outline: none;

  opacity: 0;
  z-index: 10;
}

.fake-input{
  position: absolute;
  top: 0; 
  height: 100%;
  width: 100%;
  padding: 1%;
  
  font-size: var(--everything-size);

  color: orangered;
  background-color: grey;
  box-sizing: border-box;
}
.fake-input::after{
  content: '';
  position: absolute;
  top: var(--everything-size);
  left: 0;
  z-index: -1;
  width: 100%;
  height: 1rem;
  background-color: grey;
}

.fake-caret{
  width: 2px;
  height: 85%;
  background-color: white;
  display: inline-block;
  position: absolute;
  top: -0.3rem;
  margin-top: 3%;
}
.string-char{
  display: inline-block;
}

// .real-textarea{
//   position: absolute;
//   z-index: 10;
//   box-sizing: border-box;
//   outline: none;

//   width: 98%;
//   height: 98%;
//   padding: 1%;
  
//   font-size: 30px;
//   font-family: Helvetica;
  
//   opacity: 0.4;
//   color: white;
//   background-color: green;

//   resize: none;
// }