ul{
  margin: 0;
  padding: 0;
}
li{
  margin-left: 0.8em;
  list-style: none;
}
#note-input{
  border: none;
  font-size: 1em;
  line-height: 1.2em;
}
#note-submit-button{
  border: none;
  height: 1.65em;
  line-height: 1.9em;
  border-radius: 0.2em;
  margin-left: 0.2em;
}